@use 'colors';
@use 'typo';
@use 'variables';

.button {
    width: 120px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    background-color: white;
    color: colors.$c-primary; 
    border: 1px solid colors.$c-link;
    box-shadow: variables.$shadow-secondary;
    border-radius: 15px;
    display: block;

    &:hover { 
        transform: scale(0.96);
        transition-duration: 0.5s;
        // transition-timing-function: ease-out;
        background-color: colors.$c-hover;
        color: white;
        // color: colors.$c-primary;
        border: 1px solid colors.$c-hover;
    }

    &--center {
        margin: 0 auto;
    }

}
