@use 'colors';
@use 'typo';
@use 'variables';



.film-trailer-container {
    padding: variables.$spacer;
    display: flex;
    gap: variables.$spacer * 2;
    margin: variables.$spacer auto;

    @media screen and (max-width: 1000px) {
        display: block;
        padding: 5px;
    }

    @media screen and (max-width: 400px) {
        padding: 5px;
    }


    &__box {
        max-width: 450px;
    }
}


.film-detail__title {
    color: colors.$c-link;
}

.film-detail__text {
    @media screen and (max-width: 1000px) {
        margin-top: variables.$spacer;
    }
}


