@use 'colors';
@use 'typo';
@use 'variables';



.film-trailer-container {
    padding: variables.$spacer;
    display: flex;
    gap: variables.$spacer * 2;
    margin: variables.$spacer auto;

    @media screen and (max-width: 1000px) {
        flex-direction: column;
    }


    &__box {
        max-width: 450px;

        @media screen and (max-width: 1000px) {
            margin: 0 auto;
        }

    }
}


.film-detail__title {
    color: colors.$c-link;
}


