@use 'colors';
@use 'typo';
@use 'variables';



.footer {
    width: 100%;
    color: white;
    text-align: center;
    padding-bottom: variables.$spacer * 2;
    padding-top: variables.$spacer * 2;
    display: flex;
    background-color: colors.$c-primary;

    &__statement {
        max-width: 500px;
        margin: 0 auto;
    }

    &__link {
        text-decoration: none;
        color: colors.$c-link;
    }

}