@use 'colors';
@use 'typo';
@use 'variables';

.logo {
    display: flex;
    align-items: center;
    padding-left: 0;

    @media screen and (max-width: 700px) {
        align-self: flex-start;
        padding-top: variables.$spacer / 2;
        padding-right: variables.$spacer / 2;
    }
    

    &__link {
        font-family: typo.$f-special;
        margin-left: 10px;
        text-decoration: none;
        color: black;
        display: inline;
        flex: 0 0 auto;
    }

    .home__icon {
        width: 25px;
        height: 25px;
    }

}