@use 'colors';
@use 'typo';
@use 'variables';


html {
    box-sizing: border-box;
}

*, ::before, ::after {
box-sizing: inherit;
padding: 0;
margin: 0;
}

body {
    font-family: typo.$f-primary-2;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1px;
    color: colors.$c-primary;
    
}

a {
    color: colors.$c-link;
    text-decoration: none;
}

a:hover {
    color: colors.$c-hover;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: variables.$spacer * 3;
    padding-left: variables.$spacer * 3;
    padding-right: variables.$spacer * 3;
    
    
    
}

.wave-container {
    height: 100px; 
    background-image: url(/images/vlna.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    // position: sticky;
    // right: 0;
    // bottom: 0;
}