@use 'colors';
@use 'typo';
@use 'variables';

.menu {
    background-color: white;
    flex: 1 0 auto;


    &__list {
        display: flex;
        justify-content: flex-end;
    }

    &__item {
        list-style: none;
        position: relative;
    }

    &__item:hover .menu__submenu {
        display: block;

    }

    &__submenu {
        display: none;
        position: absolute;
        left: 0;
        top: 100%;
        background-color: white;
        opacity: inherit;

    }

    &__item--sub {
        border-bottom: 1px dashed colors.$c-primary;

    }

    &__link {
        text-decoration: none;
        color: colors.$c-primary;
        display: block;
        padding: variables.$spacer / 2;
    }

    &__link:hover {
        color: colors.$c-hover;
    }


    &__checkbox {
        position: absolute;
        left: -9999px;
    }

    &__toggler {
        display: none;
        
    }
}

@media screen and (max-width: 700px) {

    .menu__toggler {
        display: inline-block;
        cursor: pointer;
        position: absolute;
        top: -10px;
        left: 90%;
        z-index: 99999;
        font-size: 30px;

    }

    .menu__submenu {
        position: relative;
    }

    .menu__list { 
        display: none;
        width: 100%;
        position: absolute;
        top: 0;
    }

    .menu__checkbox:checked ~ .menu__list {
        display: block;
        background-color: white;
        
    }

    .menu__link {
        border-bottom: 1px dashed colors.$c-primary;
        background-color: black;
        color: whitesmoke;
    
    }

}





