@use 'colors';
@use 'typo';
@use 'variables';



.program-day {
    padding: variables.$spacer;

}

.program-table {
    width: 100%;
    margin: variables.$spacer * 2 0;
    border-collapse: separate;
    border-spacing: 15px 15px;

    @media screen and (max-width: 800px) {
        border-spacing: 0 0;
    }

  

    &__rezervace {
        border: none;
        box-shadow: none;
    }

    &__film-des {
        font-size: smaller;
    }

    &__time {
        text-align: center;
        font-weight: bolder;
    }

}

td {
    padding: variables.$spacer / 3;
    border-radius: 5px;
    box-shadow: variables.$shadow-secondary;

    @media screen and (max-width: 500px) {
        font-size: smaller;
    }

   
}

.film-card__title--table {
    text-align: left;
}


.program-day {
    background-color: colors.$c-hover;
    display: inline-block;
    border-radius: 5px;
    
}

.filmovy-program {
    margin-bottom: variables.$spacer * 2;
}

.button--program {
    display: inline-block;   
      
    
    @media screen and (max-width: 800px) {
        display: block;
        padding: 3px;
        width: 100px;
    }

    @media screen and (max-width: 500px) {
        font-size: smaller;
        width: 80px;
    }
    
}