@use 'colors';
@use 'typo';
@use 'variables';

.socials {
    
    order: -2;
    position: absolute;
    top: variables.$spacer * 3;
    left: variables.$spacer;

    &__icon {
        width: 25px;
        height: 25px;
        margin-top: 5px;
        margin-bottom: 20px;
        display: block;
    }

}