$spacer: 30px;
$shadow: 0 1px 4px rgba(55, 73, 87, 0.061), 0 5px 5px rgba(55, 73, 87, 0.055);
$shadow-secondary: 0 1px 2px rgba(55, 73, 87, 0.157), 0 2px 4px rgba(55, 73, 87, 0.178);
$border: 1px solid white;