@use "colors";
@use "typo";
@use "variables";

.warning {
  z-index: 999;
  background-color: black;
  opacity: 0.85;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  font-size: large;
  color: white;
  padding: 20%;
  border-radius: 5px;
  position: absolute;
  top: 30px;
  left: 0;
  text-align: center;
}

.button-warning {
  margin-top: 60px;
}
