@use 'colors';
@use 'typo';
@use 'variables';
@use 'main';
@use 'header';
@use 'logo';
@use 'socials';
@use 'menu';
@use 'hero';
@use 'hero-small';
@use 'main-area';
@use 'card';
@use 'button';
@use 'card-film';
@use 'footer';
@use 'card-contact';
@use 'card-guest';
@use 'program-page';
@use 'film-detail-page';



/*
fonty
---------------
font-family: 'Cabin', sans-serif;  ................header, var.2
font-family: 'Cabin Sketch', cursive; ............ header
font-family: 'Cairo', sans-serif; ................ body - titulky - primary-2
font-family: 'Open Sans', sans-serif; .............body
font-family: 'Oswald', sans-serif; ................h1 - h5
*/

label,
input,
select {
    display: block;
    width: 100%;
    // font-size: larger;

    
}

.reservation {
    max-width: 50%;
    margin: variables.$spacer * 2 auto 0 auto;
}

label {
    margin-top: variables.$spacer / 2;
    }

input,
select {
    padding: 10px;
    font-size: typo.$f-primary-2;
    font-size: 16px;
    letter-spacing: 1px;
    outline: 0;
    border: 1px dashed colors.$c-primary;
    border-radius: 5px;
    box-shadow: variables.$shadow-secondary;
    background-color: rgb(241, 241, 241);
    
}

input:focus,
select:focus {
    outline: 0;
    border: 2px solid colors.$c-hover;
    background-color: white;
    border-radius: 5px;
}




// 2px solid colors.$c-link