@use 'colors';
@use 'typo';
@use 'variables';
@use 'main';
@use 'header';
@use 'logo';
@use 'socials';
@use 'menu';
@use 'hero';
@use 'hero-small';
@use 'main-area';
@use 'card';
@use 'button';
@use 'card-film';
@use 'footer';



/*
fonty
---------------
font-family: 'Cabin', sans-serif;  ................header, var.2
font-family: 'Cabin Sketch', cursive; ............ header
font-family: 'Cairo', sans-serif; ................ body - titulky - primary-2
font-family: 'Open Sans', sans-serif; .............body
font-family: 'Oswald', sans-serif; ................h1 - h5
*/

.card-contact {
    text-align: center;


    &__image {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 5px;
        border: 1px dashed black;
        padding: variables.$spacer / 3;
        box-shadow: variables.$shadow-secondary;
        
    }



}