<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Cabin:wght@700&family=Cairo:wght@400;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Oswald:wght@300;500&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/style.css"> 
    <title>sk8 film festival 2020</title>
</head>
<body>

   
   
    <header class="header">

        <div class="socials">
            <a class="socials__link" href="https://www.facebook.com/" title="Facebook"><img class="socials__icon" src="/images/facebook(1).png" alt="facebook"></a>
            <a class="socials__link" href="https://www.instagram.com/" title="Instagram"><img class="socials__icon" src="/images/instagram(1).png" alt="instagram"></a>
            <a class="socials__link" href="https://www.youtube.com/" title="YouTube"><img class="socials__icon" src="/images/youtube(1).png" alt="youtube"></a>
        </div>

        <div class="logo">
            <a href="/" title="Home"><img class="home__icon" src="/images/house.png" alt=""></a>
            <a class="logo__link" href="#" title="Home">SK8 FF</a>
        </div>

        <nav class="menu">
            <ul class="menu__list">
                <li class="menu__item"><a href="/o-festivalu/" class="menu__link" title="O festivalu">O festivalu</a></li>
                <li class="menu__item"><a href="/filmy/" class="menu__link" title="Filmy">Filmy</a></li>
                <li class="menu__item"><a href="/hoste/" class="menu__link" title="Hosté">Hosté</a></li>
                <li class="menu__item"><a href="/program/" class="menu__link" title="Program">Program</a></li>
                <li class="menu__item"><a href="/kontakt/" class="menu__link" title="Kontakt">Kontakt</a></li>
            </ul>
        </nav>

    </header>

    <div class="wrapper">

        <div class="hero hero--small">
            <div class="hero__text">
                
                <div class="hero__title hero__title--small">
                    <h1>SK8 Film Festival</h1>
                    <p>Prague<br><br>
                    13. - 14. 8. 2022</p>
                </div>
                 
            </div>

            <div class="hero__image-container">
                <img class="hero__image hero__image--small" src="/images/scott-osborne-65fm3INUShA-unsplash-2.jpg" alt="foto skateboarding filmový festival 2022">
            </div>
        </div>

        <main class="main"> 

            {{ content | safe }} 

        </main>   

    </div>

    <footer class="footer">

        <div class="footer__statement">
            
            <h4>Prohlášení autora | Author's statement</h4> <br>

            <p>Stránky fiktivního filmového festivalu SK8 Film Festival vznikly jako závěrečná práce pro účely kurzu Czechitas a nemají komerční charakter. Použité fotografie a texty jsou pouze ilustrační.</p>
            <p>The website of the fictional film festival SK8 Film Festival was created as a final thesis for the purposes of the Czechitas course and has no commercial character. The photos and texts used are just illustrative.</p> <br>
            <p>Texts</p>
            <p><a class="footer__link" href="https://www.redbull.com/cz-cs/skateboarding-urban-film-red-bull-tv-list-online-zdarma-top-17" title="Redbull">www.redbull.com/cz-cs</a></p>
            <p><a class="footer__link" href="https://www.czechskateboarding.cz/" title="Czechskateboarding"> www.czechskateboarding.cz</a></p>
            <p>Photos</p>
            <p><a class="footer__link" href="https://unsplash.com/" title="Unsplash">www.unsplash.com</a></p>
            <p>Icons</p>
            <p><a class="footer__link" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p> <br>
            
        
        </div>  
    
    </footer>

    

</body>

</html>