<div class="warning">

    Tento web je absolventská práce pro účely kurzu Czechitas.
    Tato událost - Festival skateboardových filmů se nikdy neuskuteční :) <br>

    <a class="button button--center button-warning" href="/filmovy-program/">OK</a>

</div>